@import './colors';

// Scroll bar
* {
  outline: none;
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($primary, 0.6);
    border-radius: 3px;
  }
}

::selection {
  background-color: rgba($primary, 0.3);
}
:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: $secondary;
}

// Anchor
a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.base-pagination {
  button {
    box-shadow: $box-shadow !important;

    &:disabled {
      box-shadow: none !important;
      background: gainsboro !important;
    }
  }
}

.v-list-group--active {
  box-shadow: 3px 0 0 #fff inset;
}
